/* .VendingMachine-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #545B77;
    height: 64px;
    color: white;
}

.VendingMachine a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-out;
}

.VendingMachine-nav a:hover {
    border-bottom: 2px solid rgb(196, 223, 236);
    color: rgb(4, 46, 94);
    cursor: pointer;
} */